<launch>

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find dolphin_slam)/config/custom_rosconsole.conf"/>


    <param name="/use_sim_time" type="bool" value="true" />

    <node name="rosbag" pkg="rosbag" type="play" args="/mnt/Dados/Dropbox/Mestrado/UWSim\ Cenarios/canos/2014-11-03-15-26-38_croped.bag -q -r 0.25 --clock" required="true"/>
    
    <node name="image_processing_node" pkg="dolphin_slam" type="image_processing_node" required="true">
            <rosparam command="load" file="$(find dolphin_slam)/config/image_processing.yaml" />
    </node>

    <node name="local_view_node" pkg="dolphin_slam" type="local_view_node" required="true">
            <rosparam command="load" file="$(find dolphin_slam)/config/local_view_cells.yaml" />
    </node>

    <node name="robot_state_node" pkg="dolphin_slam" type="robot_state_node" required="true">
            <rosparam command="load" file="$(find dolphin_slam)/config/robot_state.yaml" />
    </node>

    <node name="place_cell_node" pkg="dolphin_slam" type="place_cell_node" required="true">
            <rosparam command="load" file="$(find dolphin_slam)/config/place_cells.yaml" />
    </node>

    <node name="experience_map_node" pkg="dolphin_slam" type="experience_map_node" required="true">
            <rosparam command="load" file="$(find dolphin_slam)/config/experience_map.yaml" />
    </node>

    <!-- Visualization tools -->

    <node name="rviz_pc" pkg="rviz" type="rviz" args="-d $(find dolphin_slam)/config/pose_cell.rviz"  respawn="false"/>
    <node name="rviz_em" pkg="rviz" type="rviz" args="-d $(find dolphin_slam)/config/experience_map.rviz" respawn="false"/>
    <node name="image_view" pkg="image_view" type="image_view" args="image:=/uwsim/camera1"  respawn="true"/>
   <!-- <node name="template_view_node" pkg="template_view" type="template_view_node"/> -->


</launch>
