<launch>

	<!-- Change ROS logger levels -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find dolphin_slam)/config/custom_rosconsole.conf"/>

	<!-- Name of bag file -->
    <arg name="bagfile" default="/mnt/Dados/Yacht_05_12_2014/bags/yatch_cortado.bag"/>

	<!-- Vocabulary path -->
    <arg name="vocabulary_path" value ="$(find dolphin_slam)/experiments/yatch/training/"/>

	<!-- Play messages from bagfile -->
    <node pkg="rosbag" type="play" name="play" args="$(arg bagfile) -q -r 5" required="false"/>
	
    <!-- process images to extract surf keypoints -->
    <node pkg="dolphin_slam" type="image_processing_node" name="image_processing_node" required="true">
        <param name="surf_threshold" type="int" value="500" />
        <param name="image_topic" type="string" value="/image_raw" />
        <param name="sonar_topic" type="string" value="/sonar_image_gray" />
        <param name="image_transport" type="string" value="raw" />
        <param name="sonar_transport" type="string" value="raw" />
        <param name="descriptors_topic" type="string" value="/descriptors" />
        <param name="keypoints_topic" type="string" value="/image_keypoints" />
        <param name="frames_to_jump" type="int" value="20" />
        <param name="source" type="string" value="sonar" />
        <param name="sonar_mask" type="string" value="$(find dolphin_slam)/config/sonar_mask2.jpg" />
    </node>

	<!-- view surf keypoints plotted on image  -->
    <node pkg="image_view" type="image_view" name="keypoints_view" args="image:=/image_keypoints" respawn="false"/>

    <node pkg="image_view" type="image_view" name="sonar_image" args="image:=/sonar_image_gray" respawn="false"/>

	<!-- train fabmap algorithm  -->
    <node pkg="dolphin_slam" type="fabmap_training" name="fabmap_training" required="true">
		<param name="descriptors_topic" type="string" value="/descriptors" />		
        <param name="fabmap_vocab" type="string" value="$(arg vocabulary_path)fabmap_vocab.xml" />
        <param name="fabmap_descriptors" type="string" value="$(arg vocabulary_path)fabmap_descriptors.xml"/>
        <param name="fabmap_tree" type="string" value="$(arg vocabulary_path)fabmap_tree.xml" />
        <param name="cluster_size" type="double" value="0.25" />
        <param name="cluster_count" type="int" value="200" />
        <param name="clustering_algorithm" type="string" value="kmeans" />
        <param name="fabmap_implementation" type="string" value="original" />
        <param name="dataset_name" type="string" value="yatch" />
        <param name="dataset_path" type="string" value="$(arg vocabulary_path)" />
        <param name="times_to_use_samples" type="int" value="1" />
    </node>
	
</launch>

