<launch>

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find dolphin_slam)/config/custom_rosconsole.conf"/>

    <node name="play" pkg="rosbag" type="play" args="/mnt/Dados/Dropbox/Mestrado/UWSim\ Cenarios/canos/2014-11-03-15-26-38_croped.bag -q -r 3" required="false"/>

    <include file="$(find dolphin_slam)/launch/image_processing.launch" />

    <node name="fabmap_training" pkg="dolphin_slam" type="fabmap_training" required="true">
            <rosparam command="load" file="$(find dolphin_slam)/config/fabmap_training.yaml" />
    </node>

    <node name="record" pkg="rosbag" type="record" args="\descriptors \image_keypoints -o fabmap_training" required="false"/>

    <rosparam command="dump" file="fabmap_training.yaml" />

	
</launch>

