<launch>

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find dolphin_slam)/config/custom_rosconsole.conf"/>

    <param name="/use_sim_time" type="bool" value="true" />

    <node name="rosbag" pkg="rosbag" type="play" args="/mnt/Dados/Dropbox/Mestrado/UWSim\ Cenarios/canos/2014-11-03-15-26-38_croped.bag -q --clock" required="false"/>

    <node name="robot_state_node" pkg="dolphin_slam" type="robot_state_node" required="true">
        <rosparam command="load" file="$(find dolphin_slam)/config/robot_state.yaml" />
    </node>

    <!-- Visualization tools -->
    <node name="rviz_rs" pkg="rviz" type="rviz" args="-d $(find dolphin_slam)/config/robot_state.rviz"  respawn="false"/>

</launch>
